USE [PuntoVenta]
GO
/****** Object:  Table [dbo].[cortes_caja]    Script Date: 20/05/2026 05:01:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cortes_caja](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[hora_apertura] [datetime] NOT NULL,
	[hora_cierre] [datetime] NULL,
	[fondo_inicial] [decimal](10, 2) NOT NULL,
	[total_ventas] [decimal](10, 2) NOT NULL,
	[total_efectivo] [decimal](10, 2) NOT NULL,
	[total_sistema] [decimal](10, 2) NOT NULL,
	[diferencia] [decimal](10, 2) NOT NULL,
	[num_ventas] [int] NOT NULL,
	[observaciones] [varchar](300) NULL,
	[estado] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_ventas]    Script Date: 20/05/2026 05:01:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_ventas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_venta] [int] NULL,
	[id_producto] [int] NULL,
	[cantidad] [int] NULL,
	[precio] [decimal](10, 2) NULL,
	[subtotal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[devoluciones]    Script Date: 20/05/2026 05:01:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[devoluciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_venta] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[monto_devuelto] [decimal](10, 2) NOT NULL,
	[motivo] [varchar](300) NULL,
	[fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 20/05/2026 05:01:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[precio] [decimal](10, 2) NULL,
	[stock] [int] NULL,
	[categoria] [varchar](100) NULL,
	[stock_minimo] [int] NOT NULL,
	[imagen_path] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 20/05/2026 05:01:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[usuario] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[rol] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 20/05/2026 05:01:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[total] [decimal](10, 2) NULL,
	[hora] [time](7) NOT NULL,
	[descuento] [decimal](10, 2) NOT NULL,
	[monto_pagar] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cortes_caja] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha]
GO
ALTER TABLE [dbo].[cortes_caja] ADD  DEFAULT (getdate()) FOR [hora_apertura]
GO
ALTER TABLE [dbo].[cortes_caja] ADD  DEFAULT ((0)) FOR [fondo_inicial]
GO
ALTER TABLE [dbo].[cortes_caja] ADD  DEFAULT ((0)) FOR [total_ventas]
GO
ALTER TABLE [dbo].[cortes_caja] ADD  DEFAULT ((0)) FOR [total_efectivo]
GO
ALTER TABLE [dbo].[cortes_caja] ADD  DEFAULT ((0)) FOR [total_sistema]
GO
ALTER TABLE [dbo].[cortes_caja] ADD  DEFAULT ((0)) FOR [diferencia]
GO
ALTER TABLE [dbo].[cortes_caja] ADD  DEFAULT ((0)) FOR [num_ventas]
GO
ALTER TABLE [dbo].[cortes_caja] ADD  DEFAULT ('ABIERTO') FOR [estado]
GO
ALTER TABLE [dbo].[devoluciones] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((5)) FOR [stock_minimo]
GO
ALTER TABLE [dbo].[ventas] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[ventas] ADD  DEFAULT (CONVERT([time],getdate())) FOR [hora]
GO
ALTER TABLE [dbo].[ventas] ADD  DEFAULT ((0)) FOR [descuento]
GO
ALTER TABLE [dbo].[ventas] ADD  DEFAULT ((0)) FOR [monto_pagar]
GO
ALTER TABLE [dbo].[detalle_ventas]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[detalle_ventas]  WITH CHECK ADD FOREIGN KEY([id_venta])
REFERENCES [dbo].[ventas] ([id])
GO
ALTER TABLE [dbo].[devoluciones]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[devoluciones]  WITH CHECK ADD FOREIGN KEY([id_venta])
REFERENCES [dbo].[ventas] ([id])
GO
ALTER TABLE [dbo].[cortes_caja]  WITH CHECK ADD CHECK  (([estado]='CERRADO' OR [estado]='ABIERTO'))
GO
